# --- S3バケット作成で使用 ---
bucket_name = "example"

# --- Lambda関数で使用 ---
name = "api-lambda"
handler = ""example".lambda_handler"
runtime = "python3.12"
filename = ""example".zip"
policy_arn = "arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
db_policy_arn = "arn:aws:iam::example:policy/"example""

# --- APIで使用 ---
api_protocol = "HTTP"

# --- DynamoDBで使用 ---
db_billing_mode = "PAY_PER_REQUEST"
db_hash_key = "users_id"
db_key_type = "S"
db_gsi_hash_key = "email"
db_gsi_key_type = "S"
db_gsi_name = "email-index"
db_gsi_projection_type = "ALL"
